---
layout: page
---
 {% include head.html %}
 
<div class='mdl-layout mdl-js-layout mdl-layout--fixed-header'>
   <div class='mdl-layout__header'>
        <div class='mdl-layout__header-row'>
            <div class='mdl-layout-spacer'></div>
            {% include nav.html %}
        </div>
    </div>
    <div class='mdl-layout__content'>
        <div class='mdl-grid'>
            <div class='mdl-layout-spacer'></div>
            <div class='mdl-grid intro-section'>
                <div class='mdl-typography--display-2'>
                <h1> John Gillott </h1>
                <p> A wandering techie situated beyond the pale and outside the know.</p>
                </div>
            </div>
            <div class='mdl-layout-spacer'></div>
        </div>
    </div>
</div>

{% include footer.html %}
