---
---
{% include head.html %}
 
<div class='mdl-layout mdl-js-layout mdl-layout--fixed-header'>
   <div class='mdl-layout__header'>
        <div class='mdl-layout__header-row'>
            <div class='mdl-layout-spacer'></div>
            {% include nav.html %}
            {% include social.html %}
            <div class='mdl-layout-spacer'></div>
        </div>
    </div>
    <div class='mdl-layout__content'>
        <div class='mdl-grid'>
            <div class='mdl-layout-spacer'></div>
            <div class='mdl-grid intro-section'>
                <div class='mdl-typography--display-2'>
                    <h1> John Gillott </h1>
                    <p>  Hello, my name is John and I work <a target='_blank'href='https://twitter.com/_depoel_'>@de Poel</a> 
                        as a Software Engineer (formerly a MComp Computer Science Student <a target='_blank' href=' 
                        https://twitter.com/uniofleicester'>@University of Leicester</a>).
                    </p>
                </div>
            </div>
            <div class='mdl-layout-spacer'></div>
        </div>
    </div>
</div>

{% include footer.html %}
