<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">&copy 2018 John Gillott </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a target='_blank' href='https://www.github.com/johngillott'>GitHub</a></li>
            <li><a target='_blank' href='https://www.linkedin.com/in/johngillott'>LinkedIn</a></li>
            <li><a target='_blank' href='https://www.twitter.com/jsgillott'>Twitter</a></li>
        </ul>
    </div>
</footer>