<div style="margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;text-align:center;">
    <!-- Twitter -->
    <a href="https://www.twitter.com/johnsgillott" title="Connect on Twitter" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--twitter"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
    <!-- GitHub -->
    <a href="https://www.github.com/johngillott" title="Follow me on GitHub" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--github"><i class="fa fa-github fa-fw"></i> GitHub</a>
    <!-- LinkedIn --> 
    <a href="https://www.linkedin.com/in/johngillott" title="Connect on LinkedIn" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--linkedin"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
</div>